!!!
%html
  %head
    %title It's five o'clock...
    %link{ :rel => 'stylesheet', :href => '/styles.css' }
  %body
    = yield
    #credits
      a
      %a{ :href => "http://jklabs.net" } jklabs
      production