body {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

a {
 color: #444;
}

.time {
  font-weight: bold;
  font-size: 1.8em;
  margin-bottom: 1em;
}

.caveat {
  color: #666;
  font-size: 0.8em;
}

#credits {
  font-size: 0.7em;
  color: #aaa;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#credits a {
  color: #aaa;
}